remote_theme: just-the-docs/just-the-docs   # fetches theme repo
plugins:
  - jekyll-remote-theme                     # allowed by Pages

# Just the Docs theme settings

title: mrwatson-de
email: russell@mrwatson.de
description: >- # this means to ignore newlines until "baseurl:"
  Welcome to mrwatson.de! The home of fantastic FileMaker tools.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://mrwatson.de" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: mrwatson_de
github_username:  mrwatson-de

aux_links:
  mrwatson.de: https://mrwatson.de
  fmworkmate.com: https://fmWorkMate.com
  github: https://github.com/mrwatson-de

# Build settings


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

collections:
  authors:
    output: true

defaults:
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"


# Site-specific parameters

page_image_width: 256
page_image_height: 256

